* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 56px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    margin-left: 78px;
}

.header-menu {
    margin-right: 78px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.icons {
    display: flex;
    gap: 24px;
}

.line {
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0.5;
}

.header-text {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
}

.main {
    width: 444px;
    height: 584px;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: relative;
}
    
.form {
    width: 324px;
    margin: 0 auto;
}

.text-form {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.sign-up-form {
    color: #434343;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
}

.text-form::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    display: flex;
    position: absolute;
    left: 0;
}

.log-in-form {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
}

.buttons {
    margin-top: 16px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.fb-button {
    width: 160px;
    height: 48px;  
    background-color: #305DB8;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.fb-logo {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.fb-logo::after {
    content: "";
    display: inline-block;
    margin-left: 12px;
    margin-right: 18px;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background-color: #0A162F;
}

.google-button {
    width: 160px;
    height: 48px;  
    background-color: #DF4A32;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.google-logo {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.google-logo::after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    margin-right: 30px;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background-color: #0A162F;
}

.or {
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; 
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.or::before {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.or::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.inputs {
    margin-top: 12px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fname {
    width: 322px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.fname:focus {
    background-color: #FFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.sname {
    width: 322px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.sname:focus {
    background-color: #FFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.email {
    width: 322px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.email:focus {
    background-color: #FFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.fpassword {
    width: 322px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.fpassword:focus {
    background-color: #FFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.spassword {
    width: 322px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.spassword:focus {
    background-color: #FFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-label {
    margin-top: 12px;
    display: flex;
    cursor: pointer;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: rgba(0, 0, 0, 0.00);
    border-radius: 0;
    cursor: pointer;
}

.checkbox-text {
    height: 20px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.terms {
    color: #3CB878;
}

.account {
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    margin-top: 20px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
}

.logo:hover {
    color: #01813F;
}

.icon:hover{
    stroke: #01813F;
}

.log-in:hover {
    color: #01813F;
}

.sign-up:hover {
    color: #01813F;
}

.log-in-form:hover {
    color: #01813F;
    text-decoration: underline;
}

.fb-button:hover {
    background-color: #022263;
}

.google-button:hover {
    background-color: #AB1F09;;
}

.terms:hover {
    text-decoration: underline;
}

.account:hover {
    background-color: #01813F;
}

.theme {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

.light .account {
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
}

.dark .account {
    background: #305DB8;
    color: #AB1F09;
}
